
/*hide tinymce apikey notification*/
.mce-notification-warning {
  visibility: hidden;
}
#mceu_15 {
  visibility: hidden;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  padding-bottom: 70px;
}

li { 
  cursor: pointer; 
  cursor: hand; 
}

hr {
  margin-bottom: 0;
}

#App {
  position: relative;
  /*min-height: 400px;*/
  margin: auto;
  height: 100%;   
}

/*Navbar CSS*/
.navbar-default {
  border-width: 0;
  background-image: none;
  background-color: #000000;
  border-radius: 0px;
  margin-bottom: 0px;
}

#nav-brand-link {
  padding-top: 8px;
  height: 50px;
}

#nav-brand-logo {
  height: 36px;
}

.nav-ul {
}

.navbar-default .navbar-nav>li>a {
    color: #d1d1d1;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #f7f7f7;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #f7f7f7;
    background-color: #3d3d3d;
}

.btn:focus {
  outline: none;
}


/*Footer CSS*/

#footer {
  height: 100px;
}

#footer-brand-link {
  padding-top: 10px;
  height: 100px;
}

#footer-brand-logo {
  height: 80px;
}

/*Homepage CSS*/
.coverPhoto {
  width: 100%;
  /*max-height: 800px;*/
}

.post {
  margin: 0;
  padding-top: 10px;
  /*padding-bottom: 10px;*/
}

.post:hover {
  background-color: #cccccc;
}

.post-list {
  list-style: none;
  padding-left: 0px;

}

.post-title {
  margin: 0;
  padding: 0;
}

.by {
  font-style: italic;
}

.post-blurb {

}

.p-type-1 {
  cursor: pointer;
  cursor: hand;
}

.p-type-1 img {
  margin-bottom: 10px;
  max-width: 70%;
  font-size: 30px;
}

.p-type-2 .post-title {
  font-size: 24px;
}

