
/*hide tinymce apikey notification*/
.mce-notification-warning {
  visibility: hidden;
}
#mceu_15 {
  visibility: hidden;
}

html, body {
  height: 100%;
  margin: 0;
}

.navbar-default {
  border-width: 0;
  background-image: none;
}

.navbar-brand.brand-link {
  padding-top: 7px;
}

.brand-logo {
  height: 36px;
}

.brand-link {
  height: 50px;
}

.nav-ul {
  color: #cccccc;
}

.btn:focus {
  outline: none;
}

#App {
  position: relative;
  /*min-height: 400px;*/
  margin: auto;
  height: 100%;   
}

.post {
  margin: 0;
  padding-top: 10px;
  /*padding-bottom: 10px;*/
}

.post:hover {
  background-color: #cccccc;
}

.post-list {
  list-style: none;

}

.post-title {
  margin: 0;
}

.by {
  font-style: italic;
}

.post-blurb {

}

hr {
  margin-bottom: 0;
}

.p-type-2 .post-title {
  font-size: 18px;
}